<html manifest="/manifest">
  <head>
    <title>The Home Page</title>
    <link rel="stylesheet" href="/style.css" type="text/css">
  </head>
  <body>
    <h1>The Home Page</h1>
    <img src="/image.png">
  </body>
</html>
