<html manifest="/manifest">
  <head>
    <title>The Home Page</title>
    <link rel="stylesheet" href="/style.css" type="text/css">
  </head>
  <body>
    <h1>The Home Page</h1>
    <img src="/images/image.png">
    <p>
      <a href="/other">Go to the other.</a> (should get added to the manifest)
    </p>
    <div id="manifest">
      <h3>The manifest</h3>
      <pre><%= @request.env['app-cache.manifest'].read %></pre>
    </div>
  </body>
</html>
