<html manifest="/manifest">
  <head>
    <title>The Other Page</title>
    <link rel="stylesheet" href="/style.css" type="text/css">
  </head>
  <body>
    <h1>The Other Page</h1>
    <a href="/">Go Back</a>
  </body>
</html>
